<!-- {% csrf_token %} -->
{% for e in form.non_field_errors %}
  <div class="alert alert-danger">{{ e }}</div>
{% endfor %}
<form class="form-horizontal" method="post" action="/{{ url }}/">
<fieldset>
    {% for field in form %}
      <div class="control-group
        {% if field.errors %}has-error{% endif %}">
        {% if not field.is_hidden %}
        <label class="control-label">{{ field.label }}</label>
        {% endif %}
        <div class="controls">{{ field }}</div>
      </div>
    {% endfor %}
  </fieldset>
  {% if not url == 'signup' %}
    <a href="/signup/">Зарегистрироваться</a>
  {% endif %}

  <h3>{{ error }}</h3>
  <div class="form-actions">
    <button type="submit" class="btn btn-primary">
    Войти</button>
  </div>
</form>